body {
     
        background-color:silver;
        margin-top: 30px;
        background-image:
        radial-gradient(circle at 100% 150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
        radial-gradient(circle at 0    150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
        radial-gradient(circle at 50%  100%, white 10%, silver 10%, silver 23%, white 23%, white 30%, silver 30%, silver 43%, white 43%, white 50%, silver 50%, silver 63%, white 63%, white 71%, transparent 71%, transparent),
        radial-gradient(circle at 100% 50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent),
        radial-gradient(circle at 0    50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent);
        background-size: 100px 50px;
        height: 250px;
    }   

section {
    outline: 5px red;
}


#container{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    border: 3px solid darkslategrey;
    margin-left: 15%;
    margin-right: 15%;
    height: 600px;
    margin-top: 50px;
    border-radius: 15px;
    filter: drop-shadow(0 5px 0.5rem black) ;
}

#inputSection{
    flex-direction: row;
    margin-left: 60px;
    
}

th {
    width: 153px;
    padding-bottom: 10px;
    text-decoration: underline;
}
td {
    text-align: center;
    /* border: 1px black solid; */
}

#resultsTable{
    margin-top: 50px;
}

input{
    border-radius: 8px;
    filter: drop-shadow(0 5px 0.5rem black) ;
}

